<!--<header id="home-header" [ngClass]="{'header-fixed': isFixed}">-->
<header id="home-header" class="header-fixed">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div
      class="header-mobile-top"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="start center"
    >
      <div class="home-logo mr-1">
        <img
          src="assets/images/iRepair.webp"
          alt="Egret logo"
          style="max-width: 125px;"
          scrollTo="portfolio-section"
        />
        <img
          src="assets/images/regensburg1.webp"
          alt="Egret logo"
          style="max-width: 125px;"
          scrollTo="portfolio-section"
        />
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div *ngIf="isLandingPage" fxFlex class="top-menu">
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn"
        scrollTo="service-section"
      >
        <strong>iRepairs</strong>
      </button>
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn"
        scrollTo="testimonials-section"
      >
        <strong>Microsoldering</strong>
      </button>
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn"
        scrollTo="data-rescue-section"
      >
        <strong>Data Rescue</strong>
      </button>
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn"
        scrollTo="reparaturauftrag-section"
      >
        <strong>Reparaturauftrag</strong>
      </button>
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn"
        scrollTo="pricings-section"
      >
        <strong>Service</strong>
      </button>
      <span fxFlex></span>
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        (click)="buyEgret()"
      >
        <img
          src="assets/images/sticker-logo-telephone.webp"
          alt="Egret logo"
          style="max-width: 30px;"
        />
        <span style="color: #009DFF; font-style: italic;"
          >+49 152 33582535</span
        >
      </button>
    </div>
  </div>
</header>
