<section id="partner-section" class="partner home-section">
  <div class="container">
    <div class="section-header">
      <br />
      <div fxLayout="column" fxLayoutWrap="nowrap" fxLayoutGap="10px">
        <div vxFlex="33.33" fxFlexAlign="center">
          <h2>Unsere Partner</h2>
        </div>
        <div vxFlex="33.33" fxFlexAlign="center">
          <p>iRepair-Regensburg arbeitet eng mit ausgewählten Partnershops</p>
        </div>
        <div vxFlex="33.33" fxFlexAlign="center">
          <p>
            zusammen. Selbstverständlich können Sie auch dort Ihre Reparatur
          </p>
        </div>
        <div vxFlex="33.33" fxFlexAlign="center">
          <p>abgeben, so dass Sie bei uns auf dem "OP-Tisch" landen!</p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
      fx
      style="margin-bottom: 80px;"
    >
      <div fxFlex="33.33" style="min-height: 250px; max-height: 250px;">
        <mat-card
          class="p-0 m-0"
          style="padding-top: 20px; background-color: #333333; color: #ffffff;"
        >
          <a href="https://www.mein-handydoktor.com/" target="_blank">
            <img
              mat-card-image
              src="assets/images/sinus_phone.png"
              style="max-height: 80px; min-height: 60px; min-width: 100%; background: #ffffff; "
            />
            <mat-card-content>
              Handy Doktor bietet Ihnen<br />
              die Möglichkeit ihr defektes<br />
              Handy, Smartphone & Tablet<br />
              professionell, schnell und<br />
              günstig reparieren zu lassen.
            </mat-card-content>
          </a>
        </mat-card>
      </div>
      <div fxFlex="33.33" style="min-height: 250px; max-height: 250px;">
        <mat-card
          class="p-0 m-0"
          style="padding-top: 20px; background-color: #333333; color: #ffffff;"
        >
          <a href="https://www.overnightrepair.de/" target="_blank">
            <img
              mat-card-image
              src="assets/images/overnight logo.jpg"
              style="max-height: 80px; min-height: 60px; min-width: 100%; background: #ffffff;"
            />
            <mat-card-content>
              Handyreparaturen in Aschaffenburg mit <br />
              Abholservice Schnelle und <br />
              kostengünstige Reparatur aller gängigen <br />
              Marken.<br />
              <br />
            </mat-card-content>
          </a>
        </mat-card>
      </div>
      <div fxFlex="33.33" style="min-height: 250px; max-height: 250px;">
        <mat-card
          class="p-0 m-0"
          style="padding-top: 20px; background-color: #333333; color: #ffffff;"
        >
          <a href="https://www.o2regensburg.de/" target="_blank">
            <img
              mat-card-image
              src="assets/images/o2-shop bismark.jpg"
              style="max-height: 80px; min-height: 80px; min-width: 100%; background: #ffffff; "
            />
            <mat-card-content>
              Mehr Service <br />
              Mehr Kompetenz <br />
              Mehr Zeit für Sie <br />
              <br />
              Frag den O2 Guru
            </mat-card-content>
          </a>
        </mat-card>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
    >
      <div fxFlex="33.33">
        <mat-card
          class="p-0 m-0"
          style="padding-top: 20px; background-color: #333333; color: #ffffff;"
        >
          <a href="https://loetkurs-iphone.de/" target="_blank">
            <img
              mat-card-image
              src="assets/images/reiber-logo.png"
              style="max-width: 75%; padding-top: 20px; padding-left: 20px"
            />
            <mat-card-content
              >20 Jahre Elektronik und Löterfahrung in Durchsteckmontage,
              Oberflächenmontage und Schaltungstechnik.
            </mat-card-content>
          </a>
        </mat-card>
      </div>

      <div fxFlex="33.33">
        <mat-card
          class="p-0 m-0"
          style="padding-top: 20px; background-color: #333333; color: #ffffff;"
        >
          <a href="http://schutzengel-handy.de" target="_blank">
            <img
              mat-card-image
              src="assets/images/schutzengel-logo.png"
              style="max-height: 80px; min-height: 60px; "
            />
            <mat-card-content>
              im Herzen von Regensburg <br />
              Über 1000 Handy-, <br />
              Smartphone- und <br />
              Tablet-Zubehörprodukte <br />
            </mat-card-content>
          </a>
        </mat-card>
      </div>

      <div fxFlex="33.33" style="height: 200px"></div>
    </div>
  </div>
</section>
