<section
  id="service-section"
  class="home-section"
  [ngClass]="{'light-gray': backgroundGray}"
>
  <div class="container">
    <div class="section-header">
      <h2>Handy Reparatur</h2>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="10px"
    >
      <p [innerHTML]="text1"></p>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
    >
      <div fxFlex="75">
        <h5>
          <strong>Ersatzteil ist nicht gleich Ersatzteil!</strong>
        </h5>
        <p [innerHTML]="text2"></p>
      </div>
      <div fxFlex="25">
        <img src="assets/images/irepair_handy.webp" />
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
    >
      <p [innerHTML]="text3"></p>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="20px"
    >
      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Pulled-Original</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" [innerHTML]="text4"></p>
          </div>
        </mat-card>
      </div>

      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>storage</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Refurbished</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" [innerHTML]="text5"></p>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">High-Copy A+++</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" [innerHTML]="text6"></p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
