<section
  id="testimonials-section"
  class="testimonials-section home-section"
  [ngClass]="{'light-gray': backgroundGray}"
>
  <div class="container">
    <div class="section-header">
      <h2>Microsoldering die Reparatur auf Chip Level Ebene</h2>
      <p [innerHTML]="text1"></p>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="20px"
    >
      <div fxFlex="70" fxLayoutAlign="center center">
        <img
          src="assets/images/microsoldering_new2.jpg"
          style="max-height: 100%; border-radius: 50%;"
        />
      </div>
      <div fxFlex="30">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5>
              <strong>Kostenlose Diagnose</strong>
            </h5>
            <p [innerHTML]="text2"></p>
            <button mat-raised-button class="mat-accent">
              Diagnose jetzt buchen
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-md="row"
      fxLayoutWrap="nowrap"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
    >
      <div fxFlex="100">
        <ngu-carousel [inputs]="carouselOptions" [dataSource]="testimonials">
          <ngu-item NguCarouselItem *nguCarouselDef="let tm; let j = index">
            <img class="company-logo" [src]="tm.logo" />
          </ngu-item>

          <button mat-fab NguCarouselPrev class="carousel-left">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-fab NguCarouselNext class="carousel-right">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </ngu-carousel>
      </div>
    </div>
  </div>
</section>
